h1{
    color:#212227;
    background-color: #BDD4E7;
    border: 2px solid black ;
    padding: 5px;
    padding-top : 10px;
    margin: auto;
    margin-left : 30px; 
}
body{
    color:#AAB9CF;
    max-height: 100%;
}
em{
    color: #637074;;
    background-color: #BDD4E7;
    border: 2px solid black ;
}
html{
    background-color: #8693AB;
    max-height: 100%;
}
div1 {
    border:#212227;
    box-shadow: #8693AB;
}
div2 {
    border:#637074;
    box-shadow: #edeff3;
}
div3 {
    border:#1638e2;
    box-shadow: #769ce4;
}
