#div1 p{
    background-color: #177ed3;
    border: 2px solid black ;
    width: 300px;
    height: 100px;
}
#div2 p{
    background-color: #d898d32f;
    border: 2px solid black ;
    width: 300px;
    height: 100px;
}
#div3 p{
    background-color: #6ae744;
    border: 2px solid black ;
    width: 300px;
    height: 100px;
}

h1{
    color:#212227;
    background-color: #BDD4E7;
    border: 2px solid black ;
    padding: 5px;
    padding-top : 10px;
    margin: auto;
    margin-left : 30px; 
}
body{
    color:#AAB9CF;
    max-height: 100%;
}
em{
    color: #637074;;
    background-color: #BDD4E7;
    border: 2px solid black ;
}
html{
    background-color: #8693AB;
    max-height: 100%;
}

footer{
    background-color: #d63939;
    border: 2px solid black ;
}
